@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  background-color: #4f89ff;
  color: #ffffff;
  font-size: 30px;
  padding: 5px 10%;
  margin: 0 auto;
  display: inline-block;
}

img {
  max-width: 300px;
}